:root {

    --primary-color: #8B5E3C;

    --primary-hover: #6F4A2F;

    --secondary-color: #F5E6DA;

    --background-color: #FFFFFF;

    --text-color: #819fca;

    --danger-color: #DC2626;

    --success-color: #16A34A;

}